body {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: helvetica;
  font-weight: 100;
  background: hsl(0,0%,90%);
  color: hsl(0,0%,10%);
}

h1 {
  font: inherit;
  font-size: 4rem;
  font-weight: 900;
}

.main {
  position: relative;
  z-index: 2;
}

.header {
  position: relative;
  overflow: hidden;
  width: 100vw;
  min-height: 30rem;
  display: block;
  background: hsl(0,0%,10%);
  color: hsl(0,0%,90%);
}

.header:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -3vw;
  left: -2vw;
  width: 104vw;
  height: 6vw;
  background: hsl(0,0%,90%);
  transform: rotate(3deg);
}

.header__title {
  margin: 0;
  padding: 2rem;
}

.header__titleLink {
  display: block;
  overflow: hidden;
  color: inherit;
  text-decoration: none;
}

.header__sumary {
  line-height: 2.2rem;
  margin: 0 2rem 7rem 2rem;
}
