html {
  font-size: 15px;
}

body {
  padding: 0;
  margin: 0;
  font-family: helvetica;
  font-weight: 100;
  background: hsl(0,0%,90%);
  color: hsl(0,0%,10%);
}

h1 {
  font: inherit;
  font-size: 3rem;
  font-weight: 900;
}

.loader {
  position: relative;
  left: 50%;
  top: 4rem;
  margin-left: -2rem;
  width: 4rem;
  height: 1rem;
  color: transparent;
  background-color: hsl(0,0%,10%);
  -webkit-animation: spinner 1.5s linear infinite;
  -o-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

.loader:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 4rem;
  height: 1rem;
  background-color: hsl(0,0%,10%);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.main {
  position: relative;
  z-index: 2;
}

.header {
  position: relative;
  overflow: hidden;
  width: 100vw;
  padding-bottom: 2vw;
  min-height: 6rem;
  display: block;
  background: hsl(0,0%,10%);
  color: hsl(0,0%,100%);
}

.header:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -3vw;
  left: -2vw;
  width: 104vw;
  height: 6vw;
  background: hsl(0,0%,90%);
  transform: rotate(3deg);
}

.header__title {
  margin: 0;
  padding: 2rem;
}

.header__titleLink {
  display: block;
  overflow: hidden;
  color: inherit;
  text-decoration: none;
}

.header__sumary {
  line-height: 1.8rem;
  margin: 0 1rem 7rem 2rem;
}

.header__links {
  padding: 1rem;
}

.header__delimiter {
  content: '|';
  padding: 0 1rem;
}

.header__link,
.header__delimiter {
  display: inline;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
}

.header__link:hover,
.header__link:active,
.header__link--active {
  text-decoration: underline;
}

@media all and (min-width: 500px) {
  body {
    font-size: 18px;
  }
}
