.altboiler_loader,
.altboiler_loader__bubbles_conatiner {
  position: absolute;
  display: block;
  overflow: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.altboiler_loader {
  padding: 1rem;
  opacity: 1;
  font-family: Helvetica, sans-serif;
  color: #fff;
  background-color: #aaa;
  transition: opacity .2s;
}

.altboiler_loader__title,
.altboiler_loader__text {
  width: 100%;
  font-weight: 100;
}

.altboiler_loader__bubble {
  position: absolute;
  display: block;
  top: 100vh;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: #fff solid 2px;
  color: transparent;
  transition: all ease-in 4s;
}